<div id = "main-jumbotron" class ="jumbotron">
	<div class = "container">

	</div>
</div>


<br>

<!-- fix redirects -->

<div id = "images">
	<div style = "display:inline-block">
		<a href = "/events" > <img class = "three-images" border = "0" alt = "some text" src = "https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13336075_10153483493210755_5573391469131552982_n.jpg?oh=134d9a40969c2b343a3cf229a9e5b139&oe=57C395EF" height = "300" width = "300" /> </a>
		<h3> Member of the Month </h3>
		<p> Congrats to our member of the month, <b>Left Nut!</b></p>
		<a href = "/events"><p id = "read-more-spacing"> Read more </p></a>
	</div>
	<div style = "display:inline-block">
		<a href = "/pages/calendar" > <img class = "three-images" border = "0" alt = "some text" src = "https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13332736_10157232578350556_5508581156027593390_n.png?oh=e905405cf076534f767c1853172871a4&oe=57DB0924" height = "300" width = "300" /> </a>
		<h3> Calendar </h3>
		<p> View our upcoming schedule of GBMs! </p>
		<a href = "/pages/calendar"><p id = "read-more-spacing"> Read more </p></a>

	</div>
	<div style = "display:inline-block">
		<a href = "/events" > <img class = "three-images" border = "0" alt = "some text" src = "https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13312861_10157207804015556_3688572427279628170_n.jpg?oh=35f03eb87bd9f29b0c953598f1059bbe&oe=57C110FD" height = "300" width = "300" /> </a>
		<h3> Yasuo </h3>
		<p> he's kind of a big deal </p>
		<a href = "/events"><p id = "read-more-spacing"> Read more </p></a>
	</div>
</div>


