<div class="container-fluid" id="banner">
  <div class="row">
      <%= link_to "UMDCKI", root_path, class: "navbar-brand" %>
  </div>
</div>

<!-- 

i'm going to forget this later, so: 

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}



 -->