<div class="page-header">
	<div class = "container-fluid">
		<!-- <li><%= link_to "UMDCKI", root_path %></li> -->
		<!-- <div class = "navbar-brand">
			<h1>UMDCKI</h1>
		</div> -->
		<%= link_to "UMDCKI", root_path, class: "navbar-brand" %>
  	</div>
</div>
